TG_BOT_TOKEN= #REQUIRED
LOGGER_BOT_TOKEN=
ADMIN_ID= #REQUIRED
ACTIVATION_KEY= #REQUIRED (PASS FOR USING THE BOT)
DB_FILE_NAME=./data/bot.db#REQUIRED(SQLite db file: *.db)
COOKIES_PATH=./data/cookies.txt#REQUIRED
YTDLP_PATH=/usr/bin/yt-dlp#REQUIRED
FFMPEG_PATH=/usr/bin/ffmpeg#REQUIRED
GALLERYDL_PATH=/usr/bin/gallery-dl
INSTAGRAM_GDL_USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36
INSTAGRAM_GDL_SLEEP=7.0-12.0
INSTAGRAM_GDL_SLEEP_REQUEST=25.0-50.0
INSTAGRAM_GDL_SLEEP_EXTRACTOR=4.0-8.0
INSTAGRAM_GDL_SLEEP_429=900.0
IS_DEBUG=false
