
services:
  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - db-data:/var/lib/postgresql/data

  app:
    build: .
    restart: always
    environment:
      TG_BOT_TOKEN: ${TG_BOT_TOKEN}
      LOGGER_BOT_TOKEN: ${LOGGER_BOT_TOKEN}
      ADMIN_ID: ${ADMIN_ID}
      ACTIVATION_KEY: ${ACTIVATION_KEY}
      DB_HOST: db
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_PORT: ${DB_PORT}
      IS_DOCKERIZED: "true"
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  db-data:
